.portfolio_container{
  display: flex;
  justify-content: center;
  margin: 0 340px 0 340px;
}

.portfolio_card{
  background-color: rgba(99, 99, 99, 0.064);
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  
}
.project_title{
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  color: var(--first-color);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}